body {
    padding: 4rem 0;
}

a {
    text-decoration: inherit;
    color: inherit;
}

p, li {
    font-size: 150%;
}

blockquote p {
    display: inline;
}

blockquote {
    background: #f9f9f9;
    border-left: 5px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

.filter-selection {
    border-style: solid;
    border-width: thin;
    padding: 1rem 0.5rem;
    margin-bottom: 4rem;
}

.filter-choice {
    padding: 0;
    margin: 0 inherit;
    font-size: 140%;
    text-align:center;
}

.filter-choice:hover {
    background: linear-gradient(transparent 30%, #ff9 30%);
}

.filter-selected {
    background: linear-gradient(transparent 30%, #ff9 30%);
}

.filter-link:hover {
    color:inherit;
}
