<!DOCTYPE html>
    {{ partial "head.html" . }}

    <body>

        {{ partial "header.html" . }}

        <div class="container">

            <div class="row filter-selection">
                <div class="three columns">
                    <h5 class="filter-choice"><a href="/" class="filter-link">Unfiltered</a></h5>
                </div>
                <div class="three columns">
                    <h5 class="filter-choice"><a href="/technical" class="filter-link">Technical</a></h5>
                </div>
                <div class="three columns">
                    <h5 class="filter-choice"><a href="/phavel" class="filter-link">Photography &amp; Travel</a></h5>
                </div>
                <div class="three columns">
                    <h5 class="filter-choice filter-selected"><a href="/miscellaneous" class="filter-link">Miscellaneous</a></h5>
                </div>
            </div>

            {{ range .Data.Pages }}
            <div class="row">
                <div class="three columns">
                    <h5>{{ .Date.Format "02 January 2006" }}</h5>
                </div>
                <div class="nine columns">
                    <h5><a href="{{ .Permalink }}">{{ .Title }}</a></h5>
                </div>
            </div>
            {{ end }}
        </div>

    </body>

</html>
